version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: skeleton-web-php-app
    container_name: skeleton-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - skeleton-network
    environment:
      - APP_NAME=${APP_NAME}
      - APP_URL=${APP_URL}
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=${DB_HOST}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  web:
    image: nginx:alpine
    container_name: skeleton-web
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - skeleton-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: skeleton-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - skeleton-network
    ports:
      - "${DB_PORT}:3306"

networks:
  skeleton-network:
    driver: bridge

volumes:
  dbdata:
